{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>My Health | {% block title %}{% endblock title %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static 'css/coin-slider.css' %}" />
<script type="text/javascript" src="{% static 'js/cufon-yui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cufon-georgia.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-1.4.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/coin-slider.min.js' %}"></script>
<link rel="shortcut icon" href="{% static 'images/icon.png' %}" type="image/x-icon">
</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="logo">
        <h1><a href="{% url 'mainapp:index' %}"><span>My Health</span> <small>Company Slogan Here</small></a></h1>
      </div>
      <div class="menu_nav">
        <ul>
          <li class="active"><a href="{% url 'mainapp:index' %}"><span>Home Page</span></a></li>
          <li><a href="{% url 'mainapp:support' %}"><span>Support</span></a></li>
          <li><a href="{% url 'mainapp:about' %}"><span>About Us</span></a></li>
          <li><a href="{% url 'mainapp:blog-list' %}"><span>Blog</span></a></li>
          <li><a href="{% url 'mainapp:contact' %}"><span>Contact Us</span></a></li>
        </ul>
      </div>
      <div class="clr"></div>
      <div class="slider">
        <div id="coin-slider"> 
            <a href="#"><img src="{% static 'images/slide1.jpg' %}" width="960" height="360" alt="" />
                <span><big>Sed condimentum justo sit amet urna ornare euismod.</big><br />
                    Tusce nec iaculis risus hasellus nec sem sed tellus malesuada porttitor. Mauris scelerisque feugiat ante in vulputate. Nam sit amet ullamcorper tortor. Phasellus posuere facilisis cursus. Nunc est lorem, dictum at scelerisque sit amet, faucibus et est. Proin mattis ipsum quis arcu aliquam molestie.</span></a> 
                    <a href="#"><img src="{% static 'images/slide2.jpg' %}" width="960" height="360" alt="" /><span><big>Amet urna ornare euismodSed condimentum.</big><br />
                    Tusce nec iaculis risus hasellus nec sem sed tellus malesuada porttitor. Mauris scelerisque feugiat ante in vulputate. Nam sit amet ullamcorper tortor. Phasellus posuere facilisis cursus. Nunc est lorem, dictum at scelerisque sit amet, faucibus et est. Proin mattis ipsum quis arcu aliquam molestie.</span></a> 
                    <a href="#"><img src="{% static 'images/slide3.jpg' %}" width="960" height="360" alt="" /><span><big>Sed condimentum justo sit amet urna ornare euismod.</big><br />
                    Tusce nec iaculis risus hasellus nec sem sed tellus malesuada porttitor. Mauris scelerisque feugiat ante in vulputate. Nam sit amet ullamcorper tortor. Phasellus posuere facilisis cursus. Nunc est lorem, dictum at scelerisque sit amet, faucibus et est. Proin mattis ipsum quis arcu aliquam molestie.</span></a> </div>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
    </div>
  </div>

  
  {% block body %}
      
  {% endblock body %}
      


  <div class="fbg">
    <div class="fbg_resize">
        <div class="col c1">
            <h2><span>Image</span> Gallery</h2>
                <a href="#"><img src="{% static 'images/gal1.jpg' %}" width="75" height="75" alt="" class="gal" /></a> 
                <a href="#"><img src="{% static 'images/gal2.jpg' %}" width="75" height="75" alt="" class="gal" /></a> 
                <a href="#"><img src="{% static 'images/gal3.jpg' %}" width="75" height="75" alt="" class="gal" /></a> 
                <a href="#"><img src="{% static 'images/gal4.jpg' %}" width="75" height="75" alt="" class="gal" /></a> 
                <a href="#"><img src="{% static 'images/gal5.jpg' %}" width="75" height="75" alt="" class="gal" /></a> 
                <a href="#"><img src="{% static 'images/gal6.jpg' %}" width="75" height="75" alt="" class="gal" /></a> 
        </div>
      <div class="col c2">
        <h2><span>Services</span> Overview</h2>
            <p>Curabitur sed urna id nunc pulvinar semper. Nunc sit amet tortor sit amet lacus sagittis posuere cursus vitae nunc.Etiam venenatis, turpis at eleifend porta, nisl nulla bibendum justo.</p>
        <ul class="fbg_ul">
          <li><a href="#">Lorem ipsum dolor labore et dolore.</a></li>
          <li><a href="#">Excepteur officia deserunt.</a></li>
          <li><a href="#">Integer tellus ipsum tempor sed.</a></li>
        </ul>
      </div>
      <div class="col c3">
        <h2><span>Contact</span> Us</h2>
            <p>Nullam quam lorem, tristique non vestibulum nec, consectetur in risus. Aliquam a quam vel leo gravida gravida eu porttitor dui.</p>
            <p class="contact_info"> <span>Address:</span> 1458 TemplateAccess, USA<br />
            <span>Telephone:</span> +123-1234-5678<br />
            <span>FAX:</span> +458-4578<br />
            <span>Others:</span> +301 - 0125 - 01258<br />
            <span>E-mail:</span> <a href="mailto:derickokengodigital@gmail.com">derickokengodigital@gmail.com</a> </p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_resize">
      <p class="lf">Copyright &copy; <a href="#">Domain Name</a>. All Rights Reserved</p>
      <p class="rf">Design by <a target="_blank" href="https://github.com/itsregalo">itsregalo</a></p>
      <div style="clear:both;"></div>
    </div>
  </div>
</div>
</body>
</html>
