{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>My Health | {% block title %}{% endblock title %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static 'css/coin-slider.css' %}" />
<link rel="shortcut icon" href="{% static 'images/icon.png' %}" type="image/x-icon">
</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="logo">
        <h1><a href="{% url 'mainapp:index' %}"><span>My Health</span> <small>Company Slogan Here</small></a></h1>
      </div>
      <div class="menu_nav">
        <ul>
          <li class="active"><a href="{% url 'mainapp:index' %}"><span>Home Page</span></a></li>
          <li><a href="{% url 'mainapp:support' %}"><span>Support</span></a></li>
          <li><a href="{% url 'mainapp:about' %}"><span>About Us</span></a></li>
          <li><a href="{% url 'mainapp:blog-list' %}"><span>Blog</span></a></li>
          <li><a href="{% url 'mainapp:contact' %}"><span>Contact Us</span></a></li>
        </ul>
      </div>
      <div class="clr"></div>
      <div class="slider">
        <div id="coin-slider"> 
            <a href="#"><img src="{% static 'images/slide1.jpg' %}" width="960" height="360" alt="" />
                <span><big>The art of healing</big><br />
                  The art of healing comes from nature, not from the physician. Therefore the physician must start from nature, with an open mind
                  </span></a> 
                    <a href="#"><img src="{% static 'images/slide2.jpg' %}" width="960" height="360" alt="" />
                      <span><big>Doctor of Democracy</big><br />
                        I am the Doctor of Democracy. I am America's Truth Detector. And as the Doctor of Democracy, the deal you have with your doctor isn't changing. You get to keep your doctor. You get to keep your plan. You get to keep your station. Nothing's changing, and it really never was gonna change.
                      </span></a> 
                    <a href="#"><img src="{% static 'images/slide3.jpg' %}" width="960" height="360" alt="" />
                      <span><big>Of Course its Hard</big><br />
                        Of course it's hard. “No pain, no gain. “Your body can stand almost anything. “Success isn't always about greatness. “Train insane or remain the same.” “Definition of a really good workout: when you hate doing it, but you love finishing it.” “Push yourself because no one else is going to do it for you.” “Suck it up.</span></a> </div>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
    </div>
  </div>

  
  {% block body %}
      
  {% endblock body %}
      


  <div class="fbg">
    <div class="fbg_resize">
        <div class="col c1">
            <h2><span>Image</span> Gallery</h2>
            
            {% for object in footer_gallery %}
            <a href="#"><img src="{{ object.image_thumbnail.url }}" width="75" height="75" alt="" class="gal" /></a> 
            {% endfor %}
            
                
        </div>
      <div class="col c2">
        <h2><span>Services</span> Overview</h2>
            <p>My Health Record brings together health information from healthcare providers across the sector, allowing important patient information to be shared between them.</p>
        <ul class="fbg_ul">
          <li><a href="#">Consultation.</a></li>
          <li><a href="#">Health Advice.</a></li>
          <li><a href="#">Reference.</a></li>
        </ul>
      </div>
      <div class="col c3">
        <h2><span>Contact</span> Us</h2>
            <p>You can reach My Health staff through the following.</p>
            <p class="contact_info"> <span>Address:</span> 1010 Karatina, Kenya<br />
            <span>Telephone:</span> +254 7128 6097<br />
            <span>Others:</span> +254 - 1101 - 1111<br />
            <span>E-mail:</span> <a href="mailto:derickokengodigital@gmail.com">derickokengodigital@gmail.com</a> </p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_resize">
      <p class="lf">Copyright &copy; <a href="#">My Health</a>. All Rights Reserved</p>
      <p class="rf">Design by <a target="_blank" href="https://github.com/itsregalo">itsregalo</a></p>
      <div style="clear:both;"></div>
    </div>
  </div>
</div>
    <!-- Include the PayPal JavaScript SDK -->
  <script src="https://www.paypal.com/sdk/js?client-id=AZAryyw_xw_-WevEOHEYurfeurmWV6kCpSiMgjtTOzcFhMYA_exRPEAYbQgxpWeeos2_sgjCMFbZ6fRn&currency=USD"></script>


 
<script type="text/javascript" src="{% static 'js/cufon-yui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cufon-georgia.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-1.4.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/coin-slider.min.js' %}"></script>
</body>
</html>
