{% extends 'base.html' %}

{% load static %}


{% block title %}
  Contact
{% endblock title %}


{% block body %}

  <div class="">
    <section class="contact mdb-color">
      <div class="container mdb-color">
        <div class="row">
          <br>
          <div class="contact-caption clearfix">
            <div class="contact-heading text-center">
              <h2>contact us</h2>
            </div>
            <div class="col-md-12 col-md-offset-1 contact-form">
              <h3>leave us a message</h3>
  
              <form class="form">
                <input class="name" type="text" placeholder="Name">
                <input class="email" type="email" placeholder="Email">
                <input class="phone" type="text" placeholder="Phone No:">
                <textarea class="message" name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                <input class="btn" type="submit" value="SUBMIT">
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock body %}
  
  