{% extends 'base.html' %}
{% load static %}

{% block title %}
    Paypall Checkout
{% endblock title %}
    

{% block body %}
    <div class="donate">
        <div id="payment-info" class="hidden">
            <small>Payment Options</small>
            <div id="paypal-button-container"></div>
          </div>
    </div>

    <script>

        var amount = '{{amount}}'
          // Render the PayPal button into #paypal-button-container
          paypal.Buttons({
    
              // Set up the transaction
              createOrder: function(data, actions) {
                  return actions.order.create({
                      purchase_units: [{
                          amount: {
                              value: parseFloat(amount).toFixed(2)
                          }
                      }]
                  });
              },
    
              // Finalize the transaction
              onApprove: function(data, actions) {
                  return actions.order.capture().then(function(details) {
                      // Show a success message to the buyer
                      alert('Transaction completed by ' + details.payer.name.given_name + '!');
                  });
              }
    
    
          }).render('#paypal-button-container');
    
    
      </script>
{% endblock body %}
    