
{% load static %}

<div class="col-md-4">
  <div class="sidebar">
      <div class="searchform">
        <form id="formsearch" name="formsearch" method="POST" action="#">
          <input type="search" name="post_search" id="" >
          <button type="submit" >Search</button>
        </form>
      </div>
      <div class="clr"></div>
      <div class="gadget">
        <h2 class="star"><span>Sidebar</span> Menu</h2>
        <div class="clr"></div>
        <ul class="s_list">
          <li><a href="{% url 'mainapp:index' %}">Home</a></li>
          <li><a href="{% url 'mainapp:blog-list' %}">Blog</a></li>
          <li><a href="https://retechcoronatracker.pythonanywhere.com">Covid 19 Info</a></li>
          <li><a href="{% url 'mainapp:support' %}">Donate</a></li>
        </ul>
      </div>
    
    </div>
</div>
