
{% load static %}
<div class="sidebar">
    <div class="searchform">
      <form id="formsearch" name="formsearch" method="GET" >
        <span>
        <input name="editbox_search" class="editbox_search" id="editbox_search" maxlength="80" value="{{ request.GET.q }}" type="text" />
        </span>
        <input name="button_search" src="{% static 'images/search.gif' %}" class="button_search" type="image" />
      </form>
    </div>
    <div class="clr"></div>
    <div class="gadget">
      <h2 class="star"><span>My</span> Health</h2>
      <div class="clr"></div>
      <ul class="sb_menu">
        <li><a href="{% url 'mainapp:index' %}">Home</a></li>
        <li><a href="#">TemplateInfo</a></li>
        <li><a href="#">Style Demo</a></li>
        <li><a href="{% url 'mainapp:blog-list' %}">Blog</a></li>
        <li><a href="https://retechcoronatracker.pythonanywhere.com">Covid 19 Info</a></li>
        <li><a href="{% url 'mainapp:support' %}">Donate</a></li>
      </ul>
    </div>
  </div>