{% extends 'base.html' %}
{% load static %}


{% block title %}
  Support
{% endblock title %}


{% block body %}
  
<div class="col-md-8">
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2><span>Support to</span> My Health</h2>
          <div class="clr"></div>
          <p>
            The gift that has been given to me says much about our capacity for great compassion and generosity, and I hope it sends an inspiring message to others about the importance of organ donation.
            Read more at <a href="https://www.brainyquote.com/topics/donation-quotes">https://www.brainyquote.com/topics/donation-quotes</a>
          </p>
      </div>
  
        </div>
      </div>
  
      <section class="form">
        <div class="container">
          <div class="row  donate-form">
            <div class="col-md-6">
              <img src="{% static 'images/tech.jpg' %}" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6">
              <h3 class="text-left text-light font-weight-bold py-3">Donate Via Mpesa</h3>
              <form action="" method="post">
                {% csrf_token %}
                <div class="form-row">
                  <div class="col-lg-12">
                    <input type="tel" name="telephone" class="form-control" placeholder="phone number" id=""
                      {% if form.is_bound %} value="{{ form.telephone.value }}" {% endif %}>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-lg-12 pt-3">
                    <input type="number" name="amount" class="form-control" placeholder="amount" id=""
                    {% if form.is_bound %} value="{{ form.amount.value }}" {% endif %}>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-lg-12 pt-3">
                    <button type="submit" class="btn1">Proceed</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
  
  
      
 
  
      <div class="clr"></div>
    </div>
  </div>
  {% include 'sidebar.html' %}
</div>

<script type="text/javascript">



</script>
{% endblock body %}